<table [id]="tableId" [ngClass]="tableClass"  class="table table-striped">

  <thead ng2-st-thead *ngIf="!isHideHeader || !isHideSubHeader"
                      [grid]="grid"
                      [isAllSelected]="isAllSelected"
                      [source]="source"
                      [createConfirm]="createConfirm"
                      (create)="create.emit($event)"
                      (selectAllRows)="onSelectAllRows($event)"
                      (sort)="sort($event)"
                      (filter)="filter($event)"
                      [hideProperty]="hideProperty"
                      >
  </thead>
  <tbody ng2-st-tbody [grid]="grid"
                      [source]="source"
                      [deleteConfirm]="deleteConfirm"
                      [editConfirm]="editConfirm"
                      [rowClassFunction]="rowClassFunction"
                      (edit)="edit.emit($event)"
                      (delete)="delete.emit($event)"
                      (custom)="custom.emit($event)"
                      (userSelectRow)="onUserSelectRow($event)"
                      (editRowSelect)="editRowSelect($event)"
                      (multipleSelectRow)="multipleSelectRow($event)"
                      (rowHover)="onRowHover($event)"
                      (selectionChanged)="selectionChanged.emit($event)"
                      (radioSelectRow)="radioSelectRow($event)">
  </tbody>
</table>
<ng2-smart-table-pager *ngIf="isPagerDisplay"
                        [source]="source"
                        [perPageSelect]="perPageSelect"
                        (changePage)="changePage($event)" class="ng2-smart-pagination">
</ng2-smart-table-pager>